@import "nodeca.core/client/common/_variables"

.club-post-history-entry
  overflow-wrap break-word
  margin-bottom 2rem

.club-post-history-entry + .club-post-history-entry
  border-top 1px solid $decorator-color
  padding-top .5rem

.club-post-history-entry__meta
  padding 0 .2rem
  margin .5rem 0
  font-size $font-size-sm
  color $body-color-secondary + 20%

.club-post-history-entry__icon-task
.club-post-history-entry__icon-moderator
  font-weight bold
  color #c97971
  margin-left .375rem
  display none

.club-post-history-entry__m-task .club-post-history-entry__icon-task
.club-post-history-entry__m-moderator .club-post-history-entry__icon-moderator
  display inline

.club-post-history-entry__meta-ts:after
  content ', '

.club-post-history-entry__meta-author-link
  color inherit

.club-post-history-entry__title
  font-size $font-size-lg
  margin-bottom .5rem

.club-post-history-entry__diff
  margin-bottom .5rem

.club-post-history-entry__actions
  color $body-color + 50%
