@import "nodeca.core/client/common/_variables"

.clubs-sole-members__list
  padding 0
  margin 0

.clubs-sole-members__list-item
  display block

.clubs-sole-members__member
  display inline-block
  width 100%
  shortable()

.clubs-sole-members__avatar
  width 16px
  height 16px
  margin 0px 5px
  border-radius 2px
