- self.users = self.users || {};

article#content.clubs-sole-members-log
  -
    const navbar_base = {
      level_up: self.link_to('clubs.sole', { club_hid: self.club.hid })
    };

    const navbar_primary = {
      search_tab: 'club_topics',
      search_areas: [
        {
          title: self.t('search_club'),
          method: 'search.club_sole',
          params: { hid: String(self.club.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', { ...navbar_base, ...navbar_primary })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')
        span.clubs-sole-members__title= self.t('@clubs.sole.members.title')

    != self.partial('@clubs.sole.members.tabs', { active_tab: 'log' })

    .clubs-sole-members__content
      ul.clubs-sole-members__list
        each record in self.log_records
          li.clubs-sole-members__list-item
            .clubs-sole-members__log-record!= record
        else
          .clubs-sole-members__list-empty= self.t('no_records')
