- self.add_raw_data('settings', self.settings)

article#content.clubs-index
  != self.partial('@common.blocks.navbar.logo_apps', { search_tab: 'club_topics' })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    header.page-head.clubs-index__head
      h1.clubs-index__title.page-head__title(itemprop='name')= self.t('my_clubs')

      != self.partial('@clubs.index.blocks.page_actions')

    .clubs-index__club-list
      each club in self.clubs
        .clubs-index-sole
          .clubs-index-sole__aside
            a(href=self.link_to('clubs.sole', { club_hid: club.hid }))
              img.clubs-index-sole__avatar(alt=club.title)&attributes(self.avatar(club, 'md'))

          .clubs-index-sole__meta
            .clubs-index-sole__title
              a(href=self.link_to('clubs.sole', { club_hid: club.hid }))= club.title

            .clubs-index-sole__members
              = self.t('members', club.members)

            .clubs-index-sole__activity
              = self.t('last_activity')
              = ' '
              != self.timetag(club.cache.last_ts, 'relative_full')
      else
        .alert.alert-warning.clubs-index__no-clubs
          if self.runtime.is_member
            != self.t('member_no_clubs')
          else
            != self.t('guest_no_clubs', { search_link: self.link_to('clubs.search') })
