@import "nodeca.core/client/common/_variables"


.member-block__clubs-info
  display inline
  list-style none
  margin 0
  padding 0

.member-block__clubs-info-item
  display inline

.member-block__clubs-info-item + .member-block__clubs-info-item
  &:before
    content ', '

.member-block__clubs-is-owner
  font-style italic
